h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: goldenrod;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color:palegreen;
}