h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: blueviolet;
}

p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  color: blue;

}

h6{
  color: rosybrown;
}