h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: darkblue;

}

p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  color: darkcyan;
}

h6{
  color: rgb(90, 201, 164);
}