h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: darkolivegreen;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: darkblue;
}

h6{
  color: darkcyan;
}